body{
    background-color:#ddd;
}

#tasks{
    list-style-type: none;
    padding:0;
}

#tasks li{
    background-color: white;
    margin-bottom:4px;
    padding: 2px;
    overflow-wrap: break-word;
}