<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="js/jquery.mobile-1.3.2.min.css">
        <title>Hello World</title>
    </head>
    <body data-ng-app data-ng-controller="TasksCtrl">        
        <section data-role="page" data-url="tasks">
            <header data-role="header" data-theme="b">
                Tasks
            </header>
            <section data-role="content" data-theme="b">
                <div>
                    <input data-mini="true" type="text" data-ng-model="taskContent" />
                    <button data-icon="plus" class="ui-btn-left" data-inline="true" data-role="button" data-ng-click="addTask()">Добави</button>
                </div>
                <ul id="tasks">
                    <li data-ng-repeat="task in tasks">
                        {{task.content}}
                        <button class="ui-btn-right" data-inline="true" data-mini="true" data-icon="delete" data-ng-click="removeTask($index)">Изтрий</button>
                    </li>
                </ul>
            </section>
        </section>



        <script type="text/javascript" src="phonegap.js"></script>
        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.3.2.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/main.js">
        </script>
    </body>
</html>
